{% extends "base.html" %}
{% block title %}Hall of Fame{% endblock %}
{% block content %}
<div class="flex items-center justify-center mx-auto px-6 max-w-7xl md:px-12 content-center pb-12">
        <span class="text-gray-300 px-6 text-3xl font-bold">Server List</span>
</div>
<div class="flex justify-center">
        <div class="pb-12">
        <table class="w-full text-left table-auto min-w-max text-gray-300 border-spacing-y-4">
                <thead>
                <tr>
                        <th class="px-4">Id</th>
                        <th class="px-4">Server name</th>
                        <th class="px-4">Enabled</th>
                        <th class="px-4">Preset</th>
                        <th class="px-4">Track</th>
                        <th class="px-4">AI</th>
                        <th class="px-4">Status</th>
                </tr>
                </thead>
                {% for server in servers %}
                <tr class="hover:bg-sky-800">                
                        <td class="px-4">{{server.pos}}</td>
                        <td class="px-4">{{server.server_name}}</td>
                        <td class="px-4">{{server.enabled}}</td>
                        <td class="px-4">{{server.preset}}</td>
                        <td class="px-4">{{server.track_name}}</td>
                        <td class="px-4">{{server.ai}}</td>
                        <td class="px-4">{{server.status}}</td>
                </tr>
                {% endfor %}
        </table>
        </div>

</div>

{% endblock %}